body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(195, 240, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgb(0, 153, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: auto;

}
.gallery{
  -webkit-column-count: 7;
  -moz-column-count: 7;
  column-count: 7;

  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  margin-top: 50px;
}

.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.cancel{
  margin-bottom: 459px;
}

.gallery .pics :hover{
 filter: opacity(.8);
}

@media (max-width: 500px) {
  .gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  
  }
}

@media (max-width: 480px) {
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.model{
  width: 50%;
  height: 50vh;
  position: fixed;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 300px;
  margin-left: 500px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 222, 222);
  transition:opacity .4s ease, visibility .4s ease, transform .5s ease-in-out ;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model video{
  width: auto;
  max-width: 200%;
  height: auto;
  max-height: 200%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg{
  position: center;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
}